body {
    background-image: url(../img/sea.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    opacity: .8;
    font-family: fantasy;
}
img {
  border-radius: 40%;
  display: block;
  margin: auto;
  width: 100%;
}
h1 {
  text-align: center;
  color: #522b77;
  font-size: 36px;
  font-weight: bolder;
}
p {
  text-align: center;
  color: #522b77;
  font-weight: bolder;
}
a:link {
  text-decoration: none;
  text-align: center;
  color: #522b77;
  font-size: 30px;
  font-weight: bolder;
}
a:visited {
  color: #3a414f;
}
.image {
  background-image: url(../img/resort.jpg);
  height: 100mm;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  width: 100%
}
